@font-face {
  font-family: "fire_emblem";
  src: url("/Fire_Emblem_Heroes_Font.woff2");
  font-display: swap;
}


:root {
    font-family: "fire_emblem", sans-serif;
    line-height: 1.5;
    font-weight: 550;

    color-scheme: light dark;
    background-color: #f1f5dd;
    background-size: cover;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  #app {
    margin: 0 auto;
    text-align: center;
  }
