@font-face {
  font-family: "Copperplate Gothic";
  src: url("/src/assets/Copperplate_Gothic_Bold_Regular.ttf");
  font-display: swap;
}


:root {
    font-family: "Copperplate Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 550;

    color-scheme: light dark;
    background-color: #ae2f29;
    background-size: cover;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  #app {
    margin: 0 auto;
    text-align: center;
  }
